
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
    <style>
        .btn-back-home{
        
            font-size:16px;
            border:1px solid green;
            border-radius:6px;
            padding: 10px 16px;
            background-color:white;
        }
        .btn-back-home:hover{
            border:none;
            background-color:green;
            color:white;
            transition:all ease-out 0.2s;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align: center; margin-bottom: 30px;">404 - Sayfa Bulunamadı</h1>
        <div style="text-align: center; ">
            <a href="/Blog/Index/"  class="btn-back-home">Ana Sayfaya Dön</a>
        </div>
        
    </div>
</body>
</html>
