
@model IEnumerable<EntityLayer.Concrete.Category>

@{
    ViewBag.Title = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kategori Listesi</h3>

            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Kategori Adı
                            </th>
                            <th class="text-right">
                                Görüntüle
                            </th>
                            <th class="text-right">
                                Düzenle
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.CategoryId
                            </td>
                            <td>
                                @item.CategoryName
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="/Blog/BlogByCategory/@item.CategoryId">
                                    <i class="fas fa-folder">
                                    </i>
                                    Yazılar
                                </a>
                            </td>
                            <td class="project-actions text-right ">
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</body>
</html>



