
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mini Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/blog-template/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/blog-template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/blog-template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/blog-template/css/jquery-ui.css">
    <link rel="stylesheet" href="~/blog-template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/blog-template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/blog-template/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/blog-template/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/blog-template/css/aos.css">

    <link rel="stylesheet" href="~/blog-template/css/style.css">
</head>
<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-12 search-form-wrap js-search-form">
                        <form method="get" action="#">
                            <input type="text" id="s" class="form-control" placeholder="Search...">
                            <button class="search-btn" type="submit"><span class="icon-search"></span></button>
                        </form>
                    </div>

                    <div class="col-4 site-logo">
                        <a href="/Blog/Index" class="text-black h2 mb-0">Blog&Note</a>
                    </div>

                    <div class="col-8 text-right">
                        <nav class="site-navigation" role="navigation">
                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                                <li><a href="/Blog/Index">Ana Sayfa</a></li>
                                <li><a href="/Blog/BlogByCategory/2">Teknoloji</a></li>
                                <li><a href="/Blog/BlogByCategory/1">Yazılım</a></li>
                                <li><a href="/Blog/BlogByCategory/3">Film & Dizi</a></li>
                                <li><a href="/Blog/BlogByCategory/4">Kültür & Sanat</a></li>
                                <li><a href="/Blog/BlogByCategory/5">Seyahat & Gezi</a></li>
                                <li><a href="/Blog/BlogByCategory/6">Diğer Başlıklar</a></li>
                                <li><a href="/About/Index">Hakkımızda</a></li>
                                <li><a href="/Contact/Index">İletişim</a></li>
                                <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
                            </ul>
                        </nav>
                        <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
                    </div>
                </div>

            </div>
        </header>
        @RenderBody()
        <div class="site-footer">
            <div class="container">
                <div class="row mb-5">
                        <div class="col-md-4">
                            <h3 class="footer-heading mb-4">Hakkımızda</h3>
                            <p>Web sitesi arayüzü kullanıcı dostu ve modern geliştirimiş bir Blog 
                            sayfasıdır. Bu web sitesinde yazarlar ilgili olduğu ve bilgisini paylaşmak 
                            istediği blogları Yazılım, Teknoloji, Film & Dizi, Kültür & Sanat, 
                            Seyahat & Gezi ve diğer konular hakkında dilediklerince yazılarını 
                            yazabileceği modern kullanışlı bir platformdur.</p>
                        </div>
                    <div class="col-md-3 ml-auto">
                        <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                        <ul class="list-unstyled float-left mr-5">
                            <li><a href="/About/Index">Hakkımızda</a></li>
                            <li><a href="/Contact/Index">İletişim</a></li>
                            <li><a href="/Blog/Index">Ana Sayfa</a></li>
                            <li><a href="/Login/AuthorLogin">Yazar Girişi</a></li>
                        </ul>
                        <ul class="list-unstyled float-left">
                            <li><a href="/Blog/BlogByCategory/1">Yazılım</a></li>
                            <li><a href="/Blog/BlogByCategory/2">Teknoloji</a></li>
                            <li><a href="/Blog/BlogByCategory/3">Film & Dizi</a></li>
                            <li><a href="/Blog/BlogByCategory/5">Seyahat & Gezi</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">


                        <div>
                            <h3 class="footer-heading mb-4">Sosyal Medya Hesaplarımız</h3>
                            <p>
                                <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                                <a href="#"><span class="icon-twitter p-2"></span></a>
                                <a href="#"><span class="icon-instagram p-2"></span></a>
                                <a href="#"><span class="icon-rss p-2"></span></a>
                                <a href="#"><span class="icon-envelope p-2"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | Proje Teması <i class="icon-heart text-danger" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"> Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/blog-template/js/jquery-3.3.1.min.js"></script>
    <script src="~/blog-template/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/blog-template/js/jquery-ui.js"></script>
    <script src="~/blog-template/js/popper.min.js"></script>
    <script src="~/blog-template/js/bootstrap.min.js"></script>
    <script src="~/blog-template/js/owl.carousel.min.js"></script>
    <script src="~/blog-template/js/jquery.stellar.min.js"></script>
    <script src="~/blog-template/js/jquery.countdown.min.js"></script>
    <script src="~/blog-template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/blog-template/js/bootstrap-datepicker.min.js"></script>
    <script src="~/blog-template/js/aos.js"></script>

    <script src="~/blog-template/js/main.js"></script>


</body>
</html>
